@import '../../assets/colors';

.textWarning {
  background-color: $color-black;
  color: $color-yellow;
  cursor: pointer;
  @media only screen and (min-width: 1024px) {
    background-color: $color-white;
    color: $color-orange;
  }
}
